{% extends "_base.html" %}
{% block content %}
    <main class="flex flex-col items-center min-h-screen dark:bg-gray-900 dark:text-white">
        <h1>Stock Market Data</h1>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Trade Code</th>
                <th>High</th>
                <th>Low</th>
                <th>Open</th>
                <th>Close</th>
                <th>Volume</th>
            </tr>
            {% for entry in page_obj %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.trade_code }}</td>
                    <td>{{ entry.high }}</td>
                    <td>{{ entry.low }}</td>
                    <td>{{ entry.open }}</td>
                    <td>{{ entry.close }}</td>
                    <td>{{ entry.volume }}</td>
                </tr>
            {% endfor %}
        </table>
        {% include 'pagination/ssr_pagination.html' %}
    </main>
{% endblock content %}
